<!DOCTYPE html>
<html>
    <head>
        <title>Edit Student</title>
    </head>
    <body>
        <h1>Edit Student</h1>

        <form method="POST">

            <label>Name:</label><br>
            <input type="text" name="name" value="{{ student[1] }}" required>
        <br><br>

        <label>Age:</label><br>
        <input type="number" name="age" value="{{ student[2] }}" required>
        <br><br>

        <button type="submit">Update Student</button>

    </form>

    <br>

    <a href="/">Back to Home</a>
        </form>
    </body>
</html>